sysVentorySaaS-Client/Files/config.xsd

<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="SysVentoryConfig">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:string" name="UserId" minOccurs="1"
					maxOccurs="1" />
				<xs:element type="xs:string" name="Server" minOccurs="1"
					maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>